.wrapper {
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

path {
  fill: none;
  stroke: #fff;
  opacity: 10;
  stroke-dasharray: 900;
  animation: csvg 3s cubic-bezier(0, 0.43, 1, 0.3);
}

@keyframes csvg {
  0% {
    opacity: 0;
    fill: none;
    stroke-dasharray: 900;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 600;
  }

  60% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 400;
  }

  80% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 300;
  }
  100% {
    opacity: 10;
    fill: none;
    stroke-dasharray: 0;
  }
}
