.pageList {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.foodPageNav {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 70px;
}
.foodPageLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 80%;
  margin-top: 70px;
  border: 1px solid blue;
}
