.subNavContainer {
  display: flex;
  flex-direction: row;
}

.subNav {
  border-bottom: 1px solid #111111;
  text-align: center;
  width: 80px;
}

.subNav:hover {
  border-top: 1px solid #979292a6;
  border-left: 1px solid #979292a6;
  border-right: 1px solid #979292a6;
}

.selectNav {
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #111111;
  border-left: 1px solid #111111;
  border-right: 1px solid #111111;
}

p {
  padding-top: 15px;
  font-size: 12px;
}
