.subNavContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NavBreakfast {
  position: relative;
  text-align: center;
  width: 40px;
  height: 80px;
  left: 0px;
  top: 100px;
  border: 2px solid black;
}

.NavMeal {
  position: relative;

  width: 40px;
  height: 80px;
  left: 0px;
  top: 200px;
  border: 2px solid black;
}

.NavDrink {
  position: relative;

  width: 40px;
  height: 80px;
  left: 0px;
  top: 290px;
  border: 2px solid black;
}
